/Iveely.Framework/build
/Iveely.Framework/nbproject
/Iveely.Framework/build.xml
/Iveely.Framework/dist
/Iveely.Computing/build
/Iveely.Computing/dist
/Iveely.Computing/build.xml
/Iveely.Search/7001
/Iveely.Search/build
/Iveely.Search/dist
/Iveely.Search/build.xml
