.IveelySE_top{min-width:600px;}
.IveelySE_top .navi{padding:0 0 0 20px;}

.head_index{width:580px;margin:0 auto;padding:75px 10px 40px;text-align:center;}
.sbox{width:580px;margin:0 auto;padding:0 10px;}

.recommend{width:580px;margin:30px auto 0;padding:0 0 0 90px;}
.recommend li a{text-decoration:none;}
.recommend li a:hover{text-decoration:underline;}