html,body,form,ul,h1,h2,h3,h4,h5,h6,input,td,th{padding:0;margin:0}
html,body{font:12px Verdana;color:White;background:#fff; border:0;}
a{color:#0041d5;text-decoration:underline;}
a em{text-decoration:underline;}
a img{border:0;}
em{font-style:normal;color:#cc0900;}
ul{list-style:none;}
.clear_both{clear:both}
input {outline:none;}
/*蓝 0041d5 绿 098100 黑 232323 灰 717171 红 cc0900 橘 f49c0f*/

.sbox{position:relative; z-index:100;}
.searchbox{position:relative;height:39px;}
.searchbox span{background:transparent url(../images/bg_sbox.gif) no-repeat;height:100%; display:block; position:relative; overflow:hidden;}
.searchbox .txt{margin:0 56px 0 0; padding:0 0 0 4px; }
.searchbox .txt span{ background-repeat:repeat-x;background-position:0 -39px; padding:0 0 0 3px;}
.searchbox .txt input{position:relative; z-index:10;width:100%;height:18px;border:0;padding:9px 0; margin:1px 0 0 -1px;font-size:16px;vertical-align:middle;border-right:1px solid #cecece;}
.searchbox .txt b{ position:absolute;left:0;top:0;z-index:5;color:#acacac; font-weight:normal; font-size:14px; line-height:39px; padding:0 0 0 5px;}
.searchbox .btn{ width:52px; height:39px; position:absolute; right:0; top:0;padding:0 6px 0 0;font-size: 14px;}
.searchbox .btn span{background-repeat:repeat-x;background-position:0 -195px;}
.searchbox .btn input{ width:51px;height:36px; margin:1px 0 1px 1px;border:0;cursor:pointer;background:url(../images/GO.png) no-repeat center;}
.searchbox .txt_focus{background-position:0 -78px;}
.searchbox .txt_focus span{background-position:0 -117px;}
.searchbox .txt_focus input{border-right:1px solid #f49c0f;}
.searchbox .btn_hover{background-position:right -234px;}
.searchbox .btn_hover span{background-position:0 -273px;}

.suggest{position:absolute;left:0;top:37px;width:500px;border:1px solid #8e8e8e;line-height:28px;background-color:#fff;overflow:hidden;font-size:14px;z-index:100;}
.suggest li a{padding:0 5px;display:block;text-decoration:none;color:#232323;}
.suggest .selected a{background-color:#fff4e5;}

.navi label,.navi a{ display:inline-block;padding:0 10px;font-size:14px; outline:0;}
.navi a:hover{ background-color:#fff4e5;}

.IveelySE_top{position:relative;background-color:#B210B6;border-bottom:1px solid #e8e9ed;font-size:14px;z-index:1000}
.IveelySE_top .box{border-top:1px solid #e8e9ed;border-bottom:1px solid #fff;background-color:#B210B6;position:relative;white-space:nowrap;}
.IveelySE_top .navi{height:30px;line-height:32px;overflow:hidden; border-top:0;}
.IveelySE_top .navi a{text-decoration:none;}
.IveelySE_top .navi a:hover{text-decoration:underline;}
.IveelySE_top .head{height:68px;}
.IveelySE_top .head .logo{position:absolute;top:50%;left:10px;margin:-15px 0 0;}
.IveelySE_top .head .sbox{margin:15px 0 0 155px;width:600px;}
.IveelySE_top .head .s_info{position:absolute;top:36px;left:770px;color:#777;font-size:12px;padding:0 10px 0 0;}
.IveelySE_top .info{line-height:28px;height:auto;padding:0 10px;text-align:center;position:static;}

.IveelySE_left{width:140px;padding:18px 15px 0 0;position:absolute;left:0;top:0;z-index:10;}
.IveelySE_left a{text-decoration:none;}
.IveelySE_left a:hover{text-decoration:underline;}
.IveelySE_left .items{line-height:24px;border-top:1px solid #ddd;padding:15px 10px;}
.IveelySE_left .items .title{font-size:14px;display:block;font-weight:bold;}
.IveelySE_left .items li .title{font-weight:normal;}
.IveelySE_left .items2{ padding:5px 10px;}
.IveelySE_left .items2 li{padding:10px 0;}
.IveelySE_left .items input,.IveelySE_left .items span{vertical-align:middle;}
.IveelySE_left .items label{display:block;}
.IveelySE_left .navi{ padding:0 0 10px;}
.IveelySE_left .navi span{margin:0 0 6px;display:block;}
.IveelySE_left .navi a,.IveelySE_left .navi label{ display:block;line-height:29px;}

.IveelySE_content{position:relative;min-height:600px;}
.IveelySE_content .searchbox{ width:596px;}

.IveelySE_foot{background-color:#fff;color:#8f8f8f;padding:0 10px;white-space:nowrap;margin:40px 0 0 0;text-align:center;line-height:20px;border-top:1px solid #e8e9ed;}
.IveelySE_foot a{color:#8f8f8f;}

.content{position:relative;width:600px;padding:0 0 0 155px;}
.content .link{margin:10px 0 5px;}

.recommend{position:relative;line-height:25px;font-size:14px;display:block;}
.recommend .title{font-weight:bold;font-size:15px;line-height:20px;}
.recommend li{width:25%;overflow:hidden;float:left;white-space:nowrap;}
.recommend li a{margin:0 10px 0 0;}

#keyscroll{ height:230px; overflow:hidden; position:relative;}
