.star,.star div{width:98px;height:16px;background:transparent url(images/star.png) repeat-x 3px -19px;display:block;}
.star div{background-position:3px 0;}

.results{position:relative;line-height:18px;padding:13px 0 0 0;}
.results .tip_query{padding:0 10px 10px;font-size:14px;color:#232323;}
.results .tip_query li{margin:0 0 5px;line-height:22px;}
.results .tip_nores{padding:15px 10px 300px ;font-size:14px;color:#232323;line-height:25px;border-top:1px solid #ddd;}
.results .tip_nores .title{font-size:16px;font-weight:bold;}
.results .tip_nores ul{padding:0 0 0 20px;list-style:disc outside none;}
.results .record{margin:0 0 5px 0;padding:5px 10px;position:relative;display:block;}
.results .expand{background-color:#f6f6f6;margin:0;}
.results .expand_last{margin: 0 0 15px;}
.results .title{font-size:16px;font-weight:normal;line-height:21px;white-space:nowrap;overflow:hidden;}
.results .title a:visited{color:#800080;}
.results .desc{word-break:break-all;text-align:justify;color:#232323;font-size:12px;}
.results .desc a,.results .desc a em{text-decoration:none;}
.results .desc a:hover,.results .desc a:hover em{text-decoration:underline;}
.results .url{color:#098100;font-size:12px;}
.results .date,.results .other{font-size:12px;color:#717171;}
.results .imgbox,.results .imgbox a{display:block;overflow: hidden;}
.results .imgbox{width:0;height:0;position:absolute;left:0;top:0;text-align:center;}
.results .imgbox a{width:100%;height:100%;}
.results .imgnews{padding:0 0 0 90px;position:relative;min-height:84px;}
.results .imgnews .imgbox{width:80px;height:80px;border:1px solid #c4c4c4;padding:1px;}
.results .imgnews .title{width:100%;}
.results .imgnews .desc{width:100%;}
.results .link_img{display:block;overflow:hidden;border:1px solid #C4C4C4;width:196px;padding:1px;}
.results .link_img img{width:100%;display:block;}

.page{text-align:center;padding:30px 0;font-weight:bold;white-space:nowrap;}
.page a,.page span{display:inline-block;padding:1px 11px;height:24px;line-height:24px;text-decoration:none;vertical-align: middle;}
.page a:hover{text-decoration:none;border:1px solid #7c7c7c;padding:0 10px;background:transparent url(images/bg_btn_simple.gif) repeat-x;}
.page span{cursor:default;}
.page .btn{border:1px solid #ddd;padding:0 10px;font-size:14px;}
.page .btn b{font:9px arial;color:#717171;vertical-align:text-bottom;}

.recommend{padding:12px 12px 0;border-top:1px solid #ddd;font-size:12px;}
.recommend li{width:20%;}

.iveely_content .sbox{border-top:1px solid #ddd;padding:32px 0 0 0;margin:12px 0 0;}

.aliyun_right{position:absolute;left:765px;top:0;width:220px;padding:0 10px 0 0;}
.aliyun_right .title{font-size:14px;}
.aliyun_right .results{width:auto;padding:13px 0 0 0;}
.aliyun_right .results .record{margin:0 0 5px;}
.aliyun_right .results .t{font-size:16px;color:#717171;margin:0;}
